@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato';
  color: azure;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1.8em;
  font-size: 13px;
  background-color: #1f1f1f;
}

a {
  display: block;
  padding: 10px 15px;
  border: 1px solid #a7f5df;
  border-radius: 25px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* From https://css.glass */
  background: rgba(45, 45, 45, 0.68);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(45, 45, 45, 0.3);
}

.avatar-wrapper,
.user-info {
  display: flex;
  justify-content: space-between;
}

.avatar-wrapper {
  width: 300px;
  padding: 15px;
}

.avatar {
  border: 2px solid azure;
  border-radius: 50%;
}

.avatar img {
  display: block;
  border-radius: 50%;
}

.btn {
  padding-top: 5px;
}

.btn a {
  text-align: center;
  width: 100px;
}

.info-wrapper {
  padding-inline: 15px;
}
.handle-wrapper {
  margin-bottom: 15px;
}
.handle {
  color: #a7a7a7;
}
.bio {
  margin-bottom: 15px;
}
